@inject QueryBaseService<SummaryPrice> queryService

<InfoTemplate InfoName="@InfoName" VisibleAction="((bool isVisible) => UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>

        @if (model is not null)
        {
            <KeyValueCols Key="Date update" Value="@model.DateUpdate.ToShortDateString()" />
            <KeyValueCols Key="Date price" Value="@model.DatePrice.ToShortDateString()" />
            <KeyValueCols Key="Cost" Value="@model.Cost.ToString("f4")" />

            <div class="col">
                <PriceF CompanyId="CompanyId" />
            </div>
        }
        else
        {
            <span>@info</span>
        }

    </ChildContent>
</InfoTemplate>

@code{
    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [Parameter] public long CompanyId { get; set; }

    string info = DefaultString.loading;
    SummaryPrice model;

    protected override async Task OnInitializedAsync()
    {
        string CustomUriBuilder() => new UrlBuilder(UrlController.Prices, UrlPath.ByCompanyId, CompanyId, UrlOption.Summary).Result;
        var queryResult = await queryService.GetResultAsync(CustomUriBuilder);

        model = queryResult.ResultContent;
        info = queryResult.ResultInfo;
    }
}