@inject APIService<SummaryReport> apiService

<InfoTemplate InfoName="@InfoName" VisibleAction="((bool isVisible) => UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>
        @if (model is not null)
        {
            <KeyValueCols Key="Date update" Value="@model.DateUpdate.ToString()" />
            <KeyValueCols Key="Last report" Value="@model.DateLastReport.ToShortDateString()" />
            <KeyValueCols Key="Report count" Value="@model.ReportsCount.ToString()" />
            <KeyValueCols Key="Last year" Value="@model.LastReportYear.ToString()" />
            <KeyValueCols Key="Last quarter" Value="@model.LastReportQuarter.ToString()" />

            <div class="col">
                <ReportF CompanyId="CompanyId" />
            </div>
        }
        else
        {
            <span>@info</span>
        }

    </ChildContent>
</InfoTemplate>

@code{
    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [Parameter] public long CompanyId { get; set; }

    string info = DefaultString.loading;
    SummaryReport model;

    protected async override Task OnInitializedAsync()
    {
        string CustomUriBuilder() => ReportAPI.GetUriSummaryByCompanyId(CompanyId);
        var queryResult = await apiService.GetResultAsync(CustomUriBuilder);

        model = queryResult.ResultContent;
        info = queryResult.ResultInfo;
    }
}