@inject CustomHttpClient http

<InfoTemplate InfoName="@InfoName" VisibleAction="@(async (bool isVisible) => await UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>
        <InformationCols Key="Date update" Value="@model.DateUpdate" />
        <InformationCols Key="Last report" Value="@model.DateLastReport" />
        <InformationCols Key="Report count" Value="@model.ReportCount" />
        <InformationCols Key="Last year" Value="@model.LastYear" />
        <InformationCols Key="Last quarter" Value="@model.LastQuarter" />

        <div class="col">
            <CompanyReport CompanyId="CompanyId" />
        </div>

    </ChildContent>
</InfoTemplate>

@code{
    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [Parameter] public long CompanyId { get; set; }

    CompanyReportHistoryShortModel model = new CompanyReportHistoryShortModel();
    protected async override Task OnInitializedAsync() =>
       model = await http.GetByIdAsync<CompanyReportHistoryShortModel>(RouteName.companyReport + "/historyshort", CompanyId);
}