@inject APIService<SummaryStockTransaction> apiService

<InfoTemplate InfoName="@InfoName" VisibleAction="((bool isVisible) => UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>
        @if (model is not null)
        {
            <KeyValueCols Key="In portfolio" Value="@model.ActualLot.ToString()" />
            <KeyValueCols Key="Profit" Value="@($"{model.CurrentProfit:#,#0.##}")" />
            <div class="col-2 col-md-4 text-dark">Last</div>
            <div class="col-10 col-md-8 text-right text-md-left">@($"{model.DateTransaction:dd.MM.yy} {model.StatusName} {model.Quantity} pc by {model.Cost:#,#0.####} for 1")</div>

            <div class="col">
                <StockTransactionF CompanyId="CompanyId" />
            </div>
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</InfoTemplate>

@code{
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [Parameter] public long CompanyId { get; set; }

    string info = DefaultString.loading;
    SummaryStockTransaction model;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateTask).User;
        string CustomUrlBuilder(long accountId) => StockTransactionAPI.GetUriSummaryByAccountIdByCompanyId(accountId, CompanyId);
        SummaryStockTransaction CustomResultBuilder(List<SummaryStockTransaction> models)
        {
            var targetData = models.OrderBy(x => x.DateTransaction).Last();

            return new SummaryStockTransaction
            {
                DateTransaction = targetData.DateTransaction,
                StatusName = targetData.StatusName,
                Cost = targetData.Cost,
                Quantity = targetData.Quantity,
                ActualLot = models.Sum(x => x.ActualLot),
                CurrentProfit = models.Sum(x => x.CurrentProfit)
            };
        }

        var queryResult = await apiService.GetResultAsync(user, CustomUrlBuilder, CustomResultBuilder);

        model = queryResult.ResultContent;
        info = queryResult.ResultInfo;
    }
}