@model IEnumerable<SellRecommendationModel>
@using InvestmentManager.Calculator.ConfigurationBinding 
@{
    string recommendationStyle = "";
}
<div class="container-fluid mt-3">
    <div class="row text-center border-top border-bottom rounded py-1">
        <div class="col-6 align-self-center d-none d-lg-block">Компания</div>
        <div class="col-lg-2">
            <div class="row">
                <div class="col text-success">Доходность <input class="d-inline rounded form-control w-25 h-75 text-center" type="number" value="@SellRecommendationConfig.ProfitMinPercent" />%</div>
            </div>
            <div class="row py-1 d-none d-lg-flex">
                <div class="col-6">Лот</div>
                <div class="col-6">Цена</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class="col text-success">Доходность <input class="d-inline rounded form-control w-25 h-75 text-center" type="number" value="@SellRecommendationConfig.ProfitMidPercent" />%</div>
            </div>
            <div class="row py-1 d-none d-lg-flex">
                <div class="col-6">Лот</div>
                <div class="col-6">Цена</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class="col text-success">Доходность <input class="d-inline rounded form-control w-25 h-75 text-center" type="number" value="@SellRecommendationConfig.ProfitMaxPercent" />%</div>
            </div>
            <div class="row py-1 d-none d-lg-flex">
                <div class="col-6">Лот</div>
                <div class="col-6">Цена</div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-1">
    @foreach (var i in Model)
    {
        <div class="row my-2">
            <div class="pl-lg-5 text-monospace col-lg-6 bg-secondary rounded-pill">@i.CompanyName</div>
            <div class="col-lg-2 text-center">
                @if (i.LotMinProfit > 0)
                {
                    if (i.LastPrice > i.PriceMinProfit)
                        recommendationStyle = string.Intern("bg-danger");
                    else
                        recommendationStyle = "";

                    <div class="row border border-secondary rounded-pill @recommendationStyle">
                        <div class="col-6">@i.LotMinProfit</div>
                        <div class="col-6">@i.PriceMinProfit</div>
                    </div>
                }
            </div>
            <div class="col-lg-2 text-center">
                @if (i.LotMidProfit > 0)
                {
                    if (i.LastPrice > i.PriceMidProfit)
                        recommendationStyle = string.Intern("bg-danger");
                    else
                        recommendationStyle = "";

                    <div class="row border border-secondary rounded-pill">
                        <div class="col-6">@i.LotMidProfit</div>
                        <div class="col-6">@i.PriceMidProfit</div>
                    </div>
                }
            </div>
            <div class="col-lg-2 text-center">
                @if (i.LotMaxProfit > 0)
                {
                    if (i.LastPrice > i.PriceMaxProfit)
                        recommendationStyle = string.Intern("bg-danger");
                    else
                        recommendationStyle = "";

                    <div class="row border border-secondary rounded-pill">
                        <div class="col-6">@i.LotMaxProfit</div>
                        <div class="col-6">@i.PriceMaxProfit</div>
                    </div>
                }
            </div>
        </div>
    }
</div>
