@model ICollection<ReportCheckModel>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 validation text-danger" asp-validation-summary="All"></div>
    </div>
    @foreach (var report in Model)
    {

        <div class="row my-2">
            <div class="col-8 col-lg-6 bg-secondary rounded-pill text-monospace pl-lg-5 hover" onclick="ShowFoundReport(`_report_${@report.Id}`)">@report.CompanyName</div>
            <div class="col-4 col-lg-6 text-right">
                <button class="btn btn-sm btn-outline-success rounded-pill" onclick="this.parentNode.parentNode.nextElementSibling.submit()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
                        <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z" />
                        <path fill-rule="evenodd" d="M13 12.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
                    </svg>
                </button>
                <button class="btn btn-sm btn-outline-danger rounded-pill" type="button" onclick="this.nextElementSibling.submit()">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h5v-1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5v2.5A1.5 1.5 0 0 0 10.5 6H13v2h1V6L9 1z" />
                        <path fill-rule="evenodd" d="M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
                <form class="d-none" asp-controller="financial" asp-action="@nameof(FinancialController.DeleteCheckedReport)" asp-route-id="@report.Id" asp-antiforgery="true"></form>
            </div>
        </div>

        <form id="_report_@report.Id" class="row small" style="display:none" method="post" asp-controller="financial" asp-action="@nameof(FinancialController.CheckReports)" asp-antiforgery="true">
            <input type="hidden" asp-for="@report.Id" />
            <input type="hidden" asp-for="@report.DateReport" />
            <input type="hidden" asp-for="@report.CompanyName" />
            <input type="hidden" asp-for="@report.CompanyId" />
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.DateReport"></label>
                <div>@report.DateReport.ToShortDateString()</div>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.StockVolume"></label>
                <input class="form-control h-50 " asp-for="@report.StockVolume" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.Dividends"></label>
                <input class="form-control h-50 " asp-for="@report.Dividends" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.Obligations"></label>
                <input class="form-control h-50 " asp-for="@report.Obligations" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.LongTermDebt"></label>
                <input class="form-control h-50 " asp-for="@report.LongTermDebt" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.Revenue"></label>
                <input class="form-control h-50 " asp-for="@report.Revenue" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.NetProfit"></label>
                <input class="form-control h-50 " asp-for="@report.NetProfit" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.GrossProfit"></label>
                <input class="form-control h-50 " asp-for="@report.GrossProfit" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.CashFlow"></label>
                <input class="form-control h-50 " asp-for="@report.CashFlow" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.Assets"></label>
                <input class="form-control h-50 " asp-for="@report.Assets" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.Turnover"></label>
                <input class="form-control h-50 " asp-for="@report.Turnover" autocomplete="off"/>
            </div>
            <div class="col-lg-1 form-group rounded">
                <label asp-for="@report.ShareCapital"></label>
                <input class="form-control h-50 " asp-for="@report.ShareCapital" autocomplete="off"/>
            </div>
        </form>
    }
</div>
