@model ReportModel

<div class="row pt-2 pb-2 text-center text-monospace text-danger">
    <div class="col-4 col-lg-5 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="col-4 col-lg-3 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="col-4 col-lg-4 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
</div>

<div class="container-fluid">

    @foreach (var i in Model.Headers)
    {
        <div class="row mb-1 mb-lg-2">
            <div class="col-12 col-lg-6 text-center text-lg-left bg-secondary rounded-pill pl-lg-5 hover" onclick="ShowReport(@i.CompanyId)">@i.CompanyName</div>
            <div class="col-4 col-lg-2 text-center">@i.LastYear г.</div>
            <div class="col-3 col-lg-2 text-center">@i.LastQuarter кв.</div>
            <div class="col-5 col-lg-2 text-center">отчетов: @i.TotalCount</div>
        </div>
        
        <div class="row" id="_reports_@i.CompanyId" style="display:none">
            <partial name="@nameof(FinancialController.ReportsPartial)" />
        </div>
    }

</div>
