@model IEnumerable<ReportComponentModel>

<div class="row small" id="_reports_@Model.First().CompanyId">
    <div class="col-lg-12 col-7 row text-muted">
        <div class="col-lg-12 row justify-content-lg-between text-left text-lg-center">
            <div class="col-lg-1 row">
                <label class="col-lg-6 pr-0 pl-0">Год</label>
                <label class="col-lg-6 pr-0 pl-0">Квартал</label>
            </div>
            <div class="col-lg-2 row">
                <label class="col-lg-6 pr-0 pl-0">В_обращении</label>
                <label class="col-lg-6 pr-0 pl-0">Дивиденды</label>
            </div>
            <div class="col-lg-2 row">
                <label class="col-lg-6 pr-0 pl-0">Обязательства</label>
                <label class="col-lg-6 pr-0 pl-0">Задолженность</label>
            </div>
            <div class="col-lg-2 row">
                <label class="col-lg-6 pr-0 pl-0">Выручка</label>
                <label class="col-lg-6 pr-0 pl-0">Чистая_прибыль</label>
            </div>
            <div class="col-lg-2 row">
                <label class="col-lg-6 pr-0 pl-0">Валовая_прибыль</label>
                <label class="col-lg-6 pr-0 pl-0">Денежный_поток</label>
            </div>
            <div class="col-lg-3 row">
                <label class="col-lg-4 pr-0 pl-0">Активы</label>
                <label class="col-lg-4 pr-0 pl-0">Оборот</label>
                <label class="col-lg-4 pr-0 pl-0">Капитал</label>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-6 row flex-nowrap flex-lg-wrap" style="overflow-x:auto">
        @foreach (var j in Model.First().ReportBodyModels)
        {
            <div class="col-lg-12 row justify-content-between text-center">
                <div class="col-lg-1 row">
                    <label class="col-lg-6">@j.Year</label>
                    <label class="col-lg-6">@j.Quarter</label>
                </div>
                <div class="col-lg-2 row">
                    <label class="col-lg-6">@j.StockVolume</label>
                    <label class="col-lg-6">@j.Dividends</label>
                </div>
                <div class="col-lg-2 row">
                    <label class="col-lg-6">@j.Obligations</label>
                    <label class="col-lg-6">@j.LongTermDebt</label>
                </div>
                <div class="col-lg-2 row">
                    <label class="col-lg-6">@j.Revenue</label>
                    <label class="col-lg-6">@j.NetProfit</label>
                </div>
                <div class="col-lg-2 row">
                    <label class="col-lg-6">@j.GrossProfit</label>
                    <label class="col-lg-6">@j.CashFlow</label>
                </div>
                <div class="col-lg-3 row">
                    <label class="col-lg-4">@j.Assets</label>
                    <label class="col-lg-4">@j.Turnover</label>
                    <label class="col-lg-4">@j.ShareCapital</label>
                </div>
            </div>
        }
    </div>
</div>
