@page "/buyrecommendation"
@inject HttpClient httpClient

@if (Recommendations != null)
{
    foreach (var r in Recommendations.OrderByDescending(x => x.IsRecommend).ThenBy(x => (x.LastPriceValue - x.BuyPrice)))
    {
        string lastPrice = r.CurrencyId == 2 ? r.LastPriceValue.ToString("C") : r.LastPriceValue.ToString("C", new CultureInfo("en-US"));
        string buyPrice = r.CurrencyId == 2 ? r.BuyPrice.ToString("C") : r.BuyPrice.ToString("C", new CultureInfo("en-US"));
        Choices.Color color = r.IsRecommend ? Choices.Color.success : Choices.Color.danger;

        <div class="container ir ibl iblbscd">
            <RowTitle Text="@r.CompanyName"  Color="Choices.Color.warning"/>
            <RowInfo Title="Цена обновлена:" Value="@r.LastPriceDate" />
            <RowInfo Title="Последняя цена:" Value="@lastPrice" Color="Choices.Color.info" />
            <RowInfo Title="Цена для покупки:" Value="@buyPrice" Color="@color" />
        </div>
    }
}

@code {
    IEnumerable<BuyRecommendationModel> Recommendations;
    protected override async Task OnInitializedAsync() =>
        Recommendations = await httpClient.GetFromJsonAsync<IEnumerable<BuyRecommendationModel>>("recommendation/buyr");
}
