@inject API api
@inject CustomNotification notice

<RowTitleSub Text="Tickers" />
@if (editContexts is not null)
{
    foreach (var context in editContexts)
    {
        var ticker = context.Model as TickerModel;
        <EditForm EditContext="context">
            <DataAnnotationsValidator />
            <div class="row mt-1 align-items-center">
                <div class="col">
                    <ValidationMessage For="(() => ticker.Name)" />
                    <InputText placeholder="Enter company ticker (required)" @bind-Value="ticker.Name" />
                </div>
            </div>
            <div class="row mt-1 align-items-center">
                <div class="col-3 text-nowrap">Lot value</div>
                <div class="col-9">
                    <ValidationMessage For="(() => ticker.LotId)" />
                    <InputSelect TValue="long" @bind-Value="ticker.LotId">
                        @foreach (var lot in lots)
                        {
                            <option value="@lot.Id">@lot.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
            <div class="row mt-1 align-items-center">
                <div class="col-3">Exchange</div>
                <div class="col-9">
                    <ValidationMessage For="(() => ticker.ExchangeId)" />
                    <InputSelect TValue="long" @bind-Value="ticker.ExchangeId">
                        @foreach (var exchange in exchanges)
                        {
                            <option value="@exchange.Id">@exchange.Name</option>
                        }
                    </InputSelect>
                </div>
            </div>
            @if (editContexts.Count > 1)
            {
                <div class="row">
                    <span class="col-md-3 col-6 ilink text-danger text-nowrap" @onclick="(() => RemoveTicker(context))">remove this</span>
                </div>
            }
            <div class="row">
                <span class="offset-md-9 col-md-3 offset-6 col-6 text-right ilink text-nowrap" @onclick="AddTicker">add ticker</span>
            </div>
            @if (editContexts.Count == 1)
            {
                <div class="row">
                    <div class="col-6">
                        <ButtonAction Color="ColorCustom.idark" ClickAction="(() => SaveClose(context))" Title="Save and close" />
                    </div>
                    <div class="col-6">
                        <ButtonAction Color="ColorCustom.isuccess" ClickAction="(() => SaveNext(context))" Title="Save and next" />
                    </div>
                </div>
            }
            else
            {
                <ButtonAction Color="ColorCustom.isuccess" ClickAction="(() => Save(context))" Title="Save" />
            }
        </EditForm>
    }
}
else
{
    <span>@DefaultString.loading</span>
}

@code {
    [Parameter] public long CompanyId { get; set; }
    [Parameter] public EventCallback<int> Step { get; set; }

    List<ShortView> exchanges;
    List<ShortView> lots;

    List<EditContext> editContexts;
    bool isEditeble = true;

    protected override async Task OnInitializedAsync()
    {
        lots = await api.Catalog.Value.GetLotTypesAsync();
        exchanges = await api.Catalog.Value.GetExchangeTypesAsync();

        var tickers = await api.Ticker.Value.GetTickersByCompanyIdAsync(CompanyId);

        if (tickers == default || !tickers.Any())
        {
            isEditeble = false;
            tickers = new List<TickerModel> { new TickerModel { CompanyId = CompanyId, ExchangeId = exchanges.First().Id, LotId = lots.First().Id } };
        }

        editContexts = tickers.Select(x => new EditContext(x)).ToList();

        await base.OnInitializedAsync();
    }

    async Task SaveClose(EditContext editContext)
    {
        if (editContext.Validate())
        {
            var model = editContext.Model as TickerModel;
            if (await FormIsSubmitAsync(model))
                await Step.InvokeAsync(200);
        }
    }
    async Task SaveNext(EditContext editContext)
    {
        if (editContext.Validate())
        {
            var model = editContext.Model as TickerModel;
            if (await FormIsSubmitAsync(model))
                await Step.InvokeAsync(1);
        }
    }
    async Task Save(EditContext editContext)
    {
        if (editContext.Validate())
        {
            var model = editContext.Model as TickerModel;
            if (await FormIsSubmitAsync(model))
                editContexts.Remove(editContext);
        }
    }
    async Task<bool> FormIsSubmitAsync(TickerModel model)
    {
        if (model is null)
        {
            notice.ToastDanger("Errors", "Model is null");
            return false;
        }

        var result = isEditeble
            ? await api.Ticker.Value.EditAsync(model.Id, model)
            : await api.Ticker.Value.AddNewAsync(model);

        if (result.IsSuccess)
        {
            await notice.AlertSuccesAsync(result.Info);
            return true;
        }
        else
        {
            notice.ToastDanger("Errors", result.Info);
            return false;
        }
    }

    void AddTicker()
    {
        var ticker = new TickerModel { CompanyId = CompanyId, ExchangeId = exchanges.First().Id, LotId = lots.First().Id };
        editContexts.Add(new EditContext(ticker));
    }
    void RemoveTicker(EditContext editContext)
    {
        if (isEditeble)
            notice.ConfirmAction(ColorCustom.idanger, "Delete ticker from data base?", (async () => await RemoveFromDbAsync()));
        else
            editContexts.Remove(editContext);

        async Task RemoveFromDbAsync()
        {
            var model = editContext.Model as TickerModel;
            var result = await api.Ticker.Value.DeleteAsync(model.Id);

            if (result.IsSuccess)
            {
                editContexts.Remove(editContext);
                StateHasChanged();
                await notice.AlertSuccesAsync(result.Info);
            }
            else
                await notice.AlertFailedAsync(result.Info);
        }
    }
}
