@inject HttpClient httpClient


@foreach (var report in Reports)
{
    <div class="container icard">

        <RowTitle Color="Choice.Color.warning" Text="@report.AccountId" />
        @if (report.AccountTransactions.Any())
        {
            <InfoAccountOperation AccountTransactions="@report.AccountTransactions" />
        }

        @if (report.StockTransactions.Any())
        {
            <InfoStockOperation StockTransactions="@report.StockTransactions" />
        }

        @if (report.Comissions.Any())
        {
            <InfoComission Comissions="@report.Comissions" />
        }

        @if (report.Dividends.Any())
        {
            <InfoDividend Dividends="@report.Dividends" />
        }

        @if (report.ExchangeRates.Any())
        {
            <InfoChangeRate ExchangeRates="@report.ExchangeRates" />
        }

        @if (report.AccountTransactions.Any() || report.StockTransactions.Any() || report.Comissions.Any() || report.Dividends.Any() || report.ExchangeRates.Any())
        {
            <ButtonAction Title="Сохранить" Color="Choice.Button.success" ClickAction="@(()=> SaveData(report.AccountId, report))" />
        }
    </div>
}

@code {
    [Parameter] public List<CorrectBrokerReport> Reports { get; set; }

    async Task SaveData(string accountId, CorrectBrokerReport report)
    {
        var response = await httpClient.PostAsJsonAsync<string>("portfolio/savereports", accountId);

        if (response.IsSuccessStatusCode)
            await Task.Run(() => Reports.Remove(report));
    }
}
