@model IEnumerable<DividendModel>

<div class="row pt-2 pb-2 text-center text-monospace text-danger">
    <div class="col-4 col-lg-5 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="col-4 col-lg-3 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="col-4 col-lg-4 hover">
        #<svg class="bi bi-chevron-bar-expand" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 10.146a.5.5 0 0 1 .708 0L8 13.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-4.292a.5.5 0 0 0 .708 0L8 2.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM1 8a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
</div>


<div class="container">
    <div class="row text-center flex-md-nowrap text-muted mb-2">
        <div class="col-6">Компания</div>
        <div class="col-2">
            <div class="row">
                <div class="col-9">Сумма</div>
                <div class="col-3">Валюта</div>
            </div>
        </div>
        <div class="col-2">Дата последнего</div>
        <div class="col-2">Всего платежей</div>
    </div>

    @foreach (var i in Model.OrderBy(x => x.CurrencyType).ThenByDescending(x => x.DividendSum))
    {
        <div class="row mb-2 hoverView">
            <div class="col-12 col-lg-6 bg-secondary rounded-pill text-monospace pl-lg-5 hover">@i.CompanyName</div>
            <div class="col-lg-2">
                <div class="row text-center">
                    <div class="col-lg-9">@i.DividendSum</div>
                    <div class="col-lg-3">@i.CurrencyType</div>
                </div>
            </div>
            <div class="col-lg-2 text-center">@i.LastDate.ToShortDateString()</div>
            <div class="col-lg-2 text-center">@i.PayCount</div>
        </div>
    }
</div>