@model Dictionary<List<string>, BrokerReportModel>

<div class="container mt-3">
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-light" data-toggle="modal" data-target="#correctErrorBrokerReportsModal">Исправить</button>
            @if (Model.Keys.Where(x => x.Where(y => y.IndexOf("Добавьте в свой профиль соглашение") >= 0).Any()).Any())
            {
                <button class="btn btn-danger disabled" disabled>Пропустить</button>
            }
            else
            {
                <a class="btn btn-danger" asp-controller="portfolio" asp-action="@nameof(PortfolioController.ShowResultReports)">Пропустить</a>
            }
        </div>
    </div>
    @foreach (var i in Model)
    {
        <div class="row mb-2 font-weight-bold" style="color:goldenrod">
            <div class="offset-1 col-8">@i.Value.AccountId</div>
            <div class="col-3 text-right">@i.Value.DateBeginReport.ToShortDateString()-@i.Value.DateEndReport.ToShortDateString()</div>
        </div>
        @foreach (var e in i.Key)
        {
            <div class="row"><div class="col text-danger h-25 text-center font-italic">@e</div></div>
        }

        @*Account*@
        @if (i.Value.AccountTransactions.Any())
        {
            <div class="container border border-light rounded mb-3 p-1">
                <div class="row">
                    <div class="ml-auto col-3 text-primary h-25 text-monospace text-right pr-5 font-weight-bold">операции по счету</div>
                </div>
                <div class="row font-weight-bold text-monospace text-muted">
                    <div class="col-lg-3">Дата</div>
                    <div class="col-lg-3">Статус</div>
                    <div class="col-lg-3">Сумма</div>
                    <div class="col-lg-3">Валюта</div>
                </div>
                @foreach (var j in i.Value.AccountTransactions)
                {
                    <div class="row font-italic">
                        <div class="col-lg-3">@j.DateOperation</div>
                        <div class="col-lg-3">@j.TransactionStatus</div>
                        <div class="col-lg-3">@j.Amount</div>
                        <div class="col-lg-3">@j.Currency</div>
                    </div>
                }
            </div>
        }
        @*Dividend*@
        @if (i.Value.Dividends.Any())
        {
            <div class="container border border-light rounded mb-3 p-1">
                <div class="row">
                    <div class="ml-auto col-3 text-success h-25 text-monospace text-right pr-5 font-weight-bold">дивиденды</div>
                </div>
                <div class="row font-weight-bold text-monospace text-muted">
                    <div class="col-lg-1">Дата</div>
                    <div class="col-lg-7">Компания</div>
                    <div class="col-lg-2">Сумма</div>
                    <div class="col-lg-2">Валюта</div>
                </div>
                @foreach (var j in i.Value.Dividends)
                {
                    <div class="row font-italic">
                        <div class="col-lg-1">@j.DateOperation</div>
                        <div class="col-lg-7">@j.CompanyName</div>
                        <div class="col-lg-2">@j.Amount</div>
                        <div class="col-lg-2">@j.Currency</div>
                    </div>
                }
            </div>
        }
        @*Stock*@
        @if (i.Value.StockTransactions.Any())
        {
            <div class="container border border-light rounded mb-3 p-1">
                <div class="row">
                    <div class="ml-auto col-3 text-info h-25 text-monospace text-right pr-5 font-weight-bold">операции с акциями</div>
                </div>

                <div class="row font-weight-bold text-monospace text-muted">
                    <div class="col-lg-1">Дата</div>
                    <div class="col-lg-2">Компания</div>
                    <div class="col-lg-2">Статус</div>
                    <div class="col-lg-2">Количество</div>
                    <div class="col-lg-3">Цена</div>
                    <div class="col-lg-2">Валюта</div>
                </div>
                @foreach (var j in i.Value.StockTransactions)
                {
                    <div class="row font-italic">
                        <div class="col-lg-1">@j.DateOperation</div>
                        <div class="col-lg-2">@j.Ticker</div>
                        <div class="col-lg-2">@j.TransactionStatus</div>
                        <div class="col-lg-2">@j.Quantity</div>
                        <div class="col-lg-3">@j.Cost</div>
                        <div class="col-lg-2">@j.Currency</div>
                    </div>
                }
            </div>
        }
        @*Comission*@
        @if (i.Value.Comissions.Any())
        {
            <div class="container border border-light rounded mb-3 p-1">
                <div class="row">
                    <div class="ml-auto col-3 text-danger h-25 text-monospace text-right pr-5 font-weight-bold">комиссии</div>
                </div>
                <div class="row font-weight-bold text-monospace text-muted">
                    <div class="col-lg-1">Дата</div>
                    <div class="col-lg-7">Вид</div>
                    <div class="col-lg-2">Сумма</div>
                    <div class="col-lg-2">Валюта</div>
                </div>
                @foreach (var j in i.Value.Comissions)
                {
                    <div class="row font-italic">
                        <div class="col-lg-1">@j.DateOperation</div>
                        <div class="col-lg-7">@j.Type</div>
                        <div class="col-lg-2">@j.Amount</div>
                        <div class="col-lg-2">@j.Currency</div>
                    </div>
                }
            </div>
        }
        @*Exchange*@
        @if (i.Value.ExchangeRates.Any())
        {
            <div class="container border border-light rounded mb-3 p-1">
                <div class="row">
                    <div class="ml-auto col-3 h-25 text-monospace text-right pr-5 font-weight-bold" style="color:orange">обмен валют</div>
                </div>
                <div class="row font-weight-bold text-monospace text-muted">
                    <div class="col-lg-3">Дата</div>
                    <div class="col-lg-3">Статус</div>
                    <div class="col-lg-3">Валюта</div>
                    <div class="col-lg-3">Колличество</div>
                </div>
                @foreach (var j in i.Value.ExchangeRates)
                {
                    <div class="row font-italic">
                        <div class="col-lg-3">@j.DateOperation</div>
                        <div class="col-lg-3">@j.TransactionStatus</div>
                        <div class="col-lg-3">@j.Rate</div>
                        <div class="col-lg-3">@j.Quantity</div>
                    </div>
                }
            </div>
        }
    }
</div>

<vc:correct-error-broker-reports-component />