@inject CustomHttpClient http
@using System.Text.RegularExpressions

<BaseError Title="@Title" IsDone="@isDone" ErrorValue="@ErrorValue">
    <EditForm Model="@result" OnValidSubmit="SendData">
        <DataAnnotationsValidator />

        <ValidationMessage For="@(() => result.CompanyId)" />
        <InputSelect  @bind-Value="@result.CompanyId">
            <option selected value="">Этот дивиденд какой компании?</option>
            @foreach (var i in form.Companies)
            {
                <option value="@i.Id">@i.Name</option>
            }
        </InputSelect>
        <div class="row">
            <div class="col text-dark">Identifier for dividend:</div>
        </div>

        <ValidationMessage For="@(() => result.IdentifierName)" />
        <InputText @bind-Value="@result.IdentifierName" />
        <ButtonSubmit Title="Исправить" Color="Choice.InvestColor.iwarning" />
    </EditForm>
</BaseError>

@code {
    [Parameter] public string ErrorValue { get; set; }
    [Parameter] public string Title { get; set; }

    DividendErrorForm form = new DividendErrorForm();
    DividendErrorResultModel result;
    bool isDone = false;

    protected override async Task OnParametersSetAsync()
    {
        result = new DividendErrorResultModel { IdentifierName = Regex.Match(ErrorValue.Split('\'')[1], @", (\w*), налог").Groups[1].Value };
        form = await http.GetNoParametersAsync<DividendErrorForm>(RouteName.brokerReport + "/dividenderrordata");
    }

    async Task SendData() => isDone = await http.PostAsBoolAsync(RouteName.brokerReport + "/setisin", result, true);
}
