@inject CustomHttpClient http

<BaseError Title="@Title" IsDone="@isDone" ErrorValue="@ErrorValue">
    <EditForm Model="@result" OnValidSubmit="SendData">
        <DataAnnotationsValidator />

        <ValidationMessage For="@(() => result.CompanyId)" />
        <InputSelect @bind-Value="@result.CompanyId">
            <option selected value="">Какой компании принадлежит @result.TikerName?</option>
            @foreach (var i in form.Companies)
            {
                <option value="@i.Id">@i.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => result.LotId)" />
        <InputSelect @bind-Value="@result.LotId">
            <option selected value="">Сколькими лотами торгуется @result.TikerName?</option>
            @foreach (var i in form.Lots)
            {
                <option value="@i.Id">@i.Value</option>
            }
        </InputSelect>

        <ValidationMessage For="@(() => result.ExchangeId)" />
        <InputSelect @bind-Value="@result.ExchangeId">
            <option selected value="">На какой площадке торгуется @result.TikerName?</option>
            @foreach (var i in form.Exchanges)
            {
                <option value="@i.Id">@i.Name</option>
            }
        </InputSelect>

        <ButtonSubmit Title="Исправить" Color="Choice.InvestColor.iwarning"/>
    
    </EditForm>
</BaseError>
@code {
    [Parameter] public string ErrorValue { get; set; }
    [Parameter] public string Title { get; set; }

    StockTransactionErrorForm form = new StockTransactionErrorForm();
    StockTransactionErrorResultModel result;
    bool isDone = false;

    protected override async Task OnParametersSetAsync()
    {
        result = new StockTransactionErrorResultModel { TikerName = ErrorValue.Split('\'')[1] };
        form = await http.GetNoParametersAsync<StockTransactionErrorForm>(Routes.C.BrokerReport + "/stocktransactionerrordata");
    }

    async Task SendData() => isDone =  await http.PostAsBoolAsync(Routes.C.BrokerReport + "/setticker", result, true);
}
