@inject IJSRuntime jsRuntime
@inject ILocalStorageService localStorage
@inject CustomHttpClient httpClient
@inject NavigationManager navigationManager
@inject Notification notice

<div class="container idark iframe ">
    <RowTitle Text="Общая информация" />
    <RowTitleSub Text="Накоплены следующие данные" />
    <LinkSmartRoute Route="companylist" Name="Копаний" Value="@result.CompanyCount" DetailAction="@(() => notice.ShowInfo("Компании обновлены",result.CompanyDateUpdate))" />
    <LinkSmartRoute Name="Отчетов" Value="@result.ReportCount" DetailAction="@(()=> notice.ShowInfo("Отчеты обновлены",result.ReportDateUpdate))" />
    <LinkSmartRoute Name="Коэффициентов" Value="@result.CoefficientCount" DetailAction="@(()=> notice.ShowInfo("Коэффициенты обновлены",result.CoefficientDateUpdate))" />
    <LinkSmartRoute Name="Цен" Value="@result.PriceCount" DetailAction="@(()=> notice.ShowInfo("Цены обновлены",result.PriceDateUpdate))" />
    <RowTitleSub Text="в результате анализа которых имеется" />
    <LinkSmartRoute Name="Рейтинг компаний" DetailAction="@(()=> notice.ShowInfo("Рейтинг обновлен",result.RatingDateUpdate))" />
    <RowTitleSub Text="по итогам которого доступны" />
    <LinkSmartRoute Route="buyrecommendation" Name="Цены к покупке" Value="@result.BuyRecommendationCount" DetailAction="@(()=> notice.ShowInfo("Рекоммендации обновлены",result.BuyRecommendationDateUpdate))" />
    <RowTitleSub Text="а если" />
    <LinkSmartRoute Name="Добавить транзакции" />
    <RowTitleSub Text="или" />
    <LinkSmartAction LinkAction="@(async () => await ClickInputFileButtonAsync("inputButton"))" Name="Загрузить .xls отчеты от БКС" />
    <InputFile multiple OnChange="HandleSelectionAsync" id="inputButton" style="display:none" />
    <RowTitleSub Text="то станут доступны" />
    <LinkSmartAction LinkAction="@(async () => await CheckAccessAsync())" Name="Рекомендации к продаже" />
</div>

@code
{
    IndexModel result = new IndexModel();
    ClaimsPrincipal user;
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        result = await httpClient.GetResultAsync<IndexModel>("index");
        user = (await AuthenticationState).User;
    }

    async Task HandleSelectionAsync(IFileListEntry[] files)
    {
        notice.LoadStart();

        if (files != null)
        {
            var content = new MultipartFormDataContent();
            foreach (var file in files)
            {
                var ms = new MemoryStream();
                await file.Data.CopyToAsync(ms);
                content.Add(new ByteArrayContent(ms.GetBuffer()), file.Name, file.Name);
                ms.Close();
            }

            var response = await httpClient.PostContentAsync("portfolio/bcsreports", content).ConfigureAwait(false);
            content.Dispose();

            if (response.IsSuccessStatusCode)
            {
                var reportModel = JsonSerializer.Deserialize<BrokerReportModel>(await response.Content.ReadAsStringAsync().ConfigureAwait(false), new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                await localStorage.SetItemAsync<BrokerReportModel>($"{user.Identity.Name}_bcsReport", reportModel).ConfigureAwait(false);
                navigationManager.NavigateTo("brokerreports");
            }
            else
            {
                notice.LoadStop();
                await notice.NoticeFailedAsync("Не удалось загрузить отчеты.");
            }
        }
    }

    async Task ClickInputFileButtonAsync(string inputFileId)
    {
        if (!user.Identity.IsAuthenticated)
        {
            await notice.NoticeAccessAsync();
            return;
        }

        await jsRuntime.InvokeVoidAsync("uploadBrokerReports", inputFileId);
    }

    async Task CheckAccessAsync()
    {
        if (user.Identity.IsAuthenticated)
            navigationManager.NavigateTo("sellrecommendation");
        else
            await notice.NoticeAccessAsync();
    }
}
