@inject CustomHttpClient http
@inject ILocalStorageService localStorage

<InfoTemplate InfoName="@InfoName" VisibleAction="((bool isVisible) => UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>
        @if (model is not null && model.IsHave)
        {
            <KeyValueCols Key="Last transaction" Value="@model.DateLastTransaction.ToShortDateString()" />
            <KeyValueCols Key="Status" Value="@model.StatusName" />
            <KeyValueCols Key="Ammount" Value="@model.Amount.ToString("f3")" />
            <KeyValueCols Key="Added sum" Value="@model.TotalAddedSum.ToString("f3")" />

            <div class="col">
                <AccountTransactionF />
            </div>
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</InfoTemplate>

@code{
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    SummaryAccountTransaction model;

    string info = DefaultString.loading;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            if (await localStorage.ContainKeyAsync($"{user.Identity.Name}_{DefaultString.Id.accountId}"))
            {
                var accountIds = await localStorage.GetItemAsync<long[]>($"{user.Identity.Name}_{DefaultString.Id.accountId}");

                if (accountIds.Any())
                {
                    var models = new List<SummaryAccountTransaction>();

                    foreach (var accountId in accountIds)
                    {
                        var summary = await http.GetAsync<SummaryAccountTransaction>(new UrlBuilder(UrlController.AccountTransactions, UrlPath.ByAccountId, accountId, UrlOption.Summary).Result);

                        if (summary.IsHave)
                            models.Add(summary);
                    }

                    if (models.Any())
                    {
                        var targetModel = models.OrderBy(x => x.DateLastTransaction).Last();

                        model = new SummaryAccountTransaction
                        {
                            IsHave = true,
                            DateLastTransaction = targetModel.DateLastTransaction,
                            StatusName = targetModel.StatusName,
                            Amount = targetModel.Amount,
                            TotalAddedSum = models.Sum(x => x.TotalAddedSum)
                        };
                    }
                    else
                        info = DefaultString.notFound;
                }
                else
                    info = DefaultString.accountDisabled;
            }
            else
                info = DefaultString.accountNotFound;
        }
        else
            info = DefaultString.noticeAccess;
    }
}