@inject APIService<SummaryExchangeRate> apiService

<InfoTemplate InfoName="@InfoName" VisibleAction="((bool isVisible) => UpdateVisible.InvokeAsync(isVisible))">
    <ChildContent>
        @if (model is not null)
        {
            <KeyValueCols KeySize="6" Key="Last transaction" Value="@model.DateLastOperation.ToShortDateString()" />
            <KeyValueCols KeySize="6" Key="Status" Value="@model.StatusName" />
            <KeyValueCols KeySize="6" Key="Rate" Value="@model.Rate.ToString("f2")" />

            @foreach (var item in model.Details)
            {
                <KeyValueCols KeySize="6" Key="Purchased average" Value="@($"{item.AvgPurchasedRate.ToString("#,#0.##")} {item.Currency}")" />
            }
            @foreach (var item in model.Details)
            {
                <KeyValueCols KeySize="6" Key="Sold average" Value="@($"{item.AvgSoldRate.ToString("#,#0.##")} {item.Currency}")" />
            }

            <div class="col">
                <ExchangeRateF />
            </div>
        }
        else
        {
            <span>@info</span>
        }
    </ChildContent>
</InfoTemplate>

@code{
    [CascadingParameter] Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter] public EventCallback<bool> UpdateVisible { get; set; }
    [Parameter] public string InfoName { get; set; }
    [CascadingParameter] Task<AuthenticationState> AuthenticationState { get; set; }

    SummaryExchangeRate model;
    string info = DefaultString.loading;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateTask).User;
        string CustomUrlBuilder(long accountId) => ExchangeRateAPI.GetUriSummaryByAccountId(accountId);
        SummaryExchangeRate CustomResultBuilder(List<SummaryExchangeRate> models)
        {
            var targetModel = models.OrderBy(x => x.DateLastOperation).Last();
            var details = new List<SummaryExchangeRateDetail>();

            foreach (var item in models)
                details.AddRange(item.Details);

            return new SummaryExchangeRate
            {
                DateLastOperation = targetModel.DateLastOperation,
                StatusName = targetModel.StatusName,
                Rate = targetModel.Rate,
                Details = details.GroupBy(x => x.Currency).Select(x => new SummaryExchangeRateDetail
                {
                    Currency = x.Key,
                    AvgPurchasedRate = x.Average(y =>y.AvgPurchasedRate),
                    AvgSoldRate = x.Average(y => y.AvgSoldRate)
                }).ToList()
            };
        }

        var queryResult = await apiService.GetResultAsync(user, CustomUrlBuilder, CustomResultBuilder);

        model = queryResult.ResultContent;
        info = queryResult.ResultInfo;
    }
}